<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

 <appSettings>
    <add key="testRail.Url" value="http://testrail.namecheap.net/index.php"/>
    <add key="testRail.UserName" value="artyom.v@namecheap.com"/>
    <add key="testRail.Password" value="t9VOhh4NsquXBOEwdCOK-IBuYFJOioucnek6XCT5D" />
    <add key="testRail.CustomAttribute.Tag" value="custom_short_t" />
    <add key="testRail.CustomAttribute.Automation" value="custom_automation" />
    <add key="testRail.CustomAttribute.Git" value="custom_git_map" />
   
    <add key="teamCity.URL" value="https://teamcity04.service.sb.corp.namecheap.net/" />
  </appSettings>

</configuration>