<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="NamecheapCore" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=Namecheap_Core" />
    <add name="NamecheapCoreCms" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Core_Cms" />
    <add name="NamecheapTests" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Tests" />
    <!--mysql-->
    <add name="oxpostfixdbEntities" connectionString="metadata=res://*/PostfixMySqlDB.csdl|res://*/PostfixMySqlDB.ssdl|res://*/PostfixMySqlDB.msl;provider=MySql.Data.MySqlClient;provider connection string='server=198.154.102.224;User Id=root;password=&quot;bYbCTH1boeVhNiYs&quot;;Persist Security Info=True;database=oxpostfixdb'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="AssemblyPath" value="Api.dll,Ui.dll"/>
    
    <add key="testRail.Url" value="http://testrail.namecheap.net/index.php"/>
    <add key="testRail.UserName" value="artyom.v@namecheap.com"/>
    <add key="testRail.Password" value="t9VOhh4NsquXBOEwdCOK-IBuYFJOioucnek6XCT5D" />
    <add key="testRail.CustomAttribute.Tag" value="custom_short_t" />
    <add key="testRail.CustomAttribute.Automation" value="custom_automation" />

    <add key="teamCity.URL" value="https://teamcity04.service.sb.corp.namecheap.net/" />


    <add key="ScreenFolder" value="c:\\temp\\AutoTests"/>
    <add key="PathToAPIv2" value="http://127.0.0.1:808"/>
    <add key="UserName" value="suresh"/>
    <add key="Password" value="suresh"/>
    <add key="DomainName" value=""/>
    <add key="MainUrl" value="local.namecheap.com"/>
  </appSettings>

</configuration>