<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="ApiCredentials" type="Namecheap.Api.Proxy.Config.ApiCredentialsConfigurationHandler, Namecheap.Api.Proxy" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DomainUiLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="NamecheapCore" connectionString="SERVER=.;Trusted_Connection=yes;DATABASE=Namecheap_Core;" />
    <add name="NamecheapCoreCms" connectionString="SERVER=.;Trusted_Connection=yes;DATABASE=NameCheap_Core_Cms;" />
    <add name="NamecheapTests" connectionString="SERVER=.;Trusted_Connection=yes;DATABASE=NameCheap_Tests;" />
    <!--mysql-->
    <add name="oxpostfixdbEntities" connectionString="metadata=res://*/PostfixMySqlDB.csdl|res://*/PostfixMySqlDB.ssdl|res://*/PostfixMySqlDB.msl;provider=MySql.Data.MySqlClient;provider connection string='server=198.154.102.224;User Id=root;password=&amp;quot;bYbCTH1boeVhNiYs&amp;quot;;Persist Security Info=True;database=oxpostfixdb'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Note : Zone value as empty, it automatically taken up the MainUrl-->
    <!--CMS & AP Zone Server-->
    <add key="CMSZone" value="" />
    <add key="APZone" value="" />
    
    <!--live (or) sandbox (or) bsb123 (or) bsbx123-->
    <add key="MainUrl" value="sandbox" />
    <add key="ClientIP" value="127.0.0.1" />
    <add key="UserName" value="automatednc2" />
    <add key="Password" value="automatednc2" />
    <!--Mention RM to provide the proper result screenshot-->
    <add key="RM" value="NDP-Fixes" />
    <!--Premium Domains-->
    <add key="PremiumReDomain" value="rtg.dentist" />
    <add key="PremiumEnomDomain" value="sdw.lawyer" />
    <!--Want To SignUp New User In Production Set Value = Y else Value =N -->
    <add key="NewUserSignupinProduction" value="N" />
    <!--Purchase Using Live PayPal Set Value = Y else Value =N-->
    <add key="LivePaypal" value="N" />
    <!--Purchase Using Live Card Set Value = Y else Value =N-->
    <add key="LiveCard" value="N" />
    <add key="APIKey" value="AIzaSyAS94O5L5Q6nAyBCl1lKff9NDcr1R3K3kY" />
    <!--Card (or) Paypal (or) Funds-->
    <add key="PaymentMethod" value="Funds" />
    <!--ScreenSort Folder Path (Ex- C: (or) D: (or) E: (or) F: ...(IND-QA) Is primary folder -->
    <add key="ScreenShotFolder" value= "C:\INTG-TEST" />
    <add key="ChromeDriverFolder" value="D:\\ProjectRelated\\ChromeDriver" />

    <!--Failed Cases Log-->
    <add key="LoggerFolder" value="D:\Auto-Test Results" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>