<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
			<section name="ApiCredentials" type="Namecheap.Api.Proxy.Config.ApiCredentialsConfigurationHandler, Namecheap.Api.Proxy" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DomainUiLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="NamecheapCore" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=Namecheap_Core" />
    <add name="NamecheapCoreCms" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Core_Cms" />
    <add name="NamecheapTests" connectionString="DATA SOURCE=(local);user id=sa;password=1234567890-=q;DATABASE=NameCheap_Tests" />
    <!--mysql-->
    <add name="oxpostfixdbEntities" connectionString="metadata=res://*/PostfixMySqlDB.csdl|res://*/PostfixMySqlDB.ssdl|res://*/PostfixMySqlDB.msl;provider=MySql.Data.MySqlClient;provider connection string='server=198.154.102.224;User Id=root;password=&quot;bYbCTH1boeVhNiYs&quot;;Persist Security Info=True;database=oxpostfixdb'" providerName="System.Data.EntityClient" />
  </connectionStrings>

	<appSettings>
		<add key="MainUrl" value="www.namecheap.com"/>
	   		
		<add key="UserName" value="uiautotest"/>
		<add key="Password" value="uiautotest"/>
		
		<add key="DomainName" value="20102015peoxtext.com"/>
		<add key="PeSubscriptionId" value="387789"/>
		<add key="SslCertId" value="1816784"/>
		<add key="PeSubscriptionValidityStart" value = "Feb 19, 2016"/>
		<add key="PeSubscriptionValidityEnd" value = "Feb 19, 2017"/>	

		<add key="PayPalUrl" value="https://www.paypal.com"/>
		<add key="PayPalEmail" value="payments-facilitator-2@namecheap.com"/>
		<add key="PayPalPassword" value="xqA3bejExqA3bejE"/>

		<add key="ClientIP" value="127.0.0.1"/>

		<add key="ScreenFolder" value="c:\\temp\\AutoTests"/>
	</appSettings>
	
	<ApiCredentials HttpXMLResponse="" MaxSearchLength="600" AppUser="ncmobile" KeyVersion="v1" AppKey="D507BD6802654F16B672CDE48462E95E" PrivateKey="w*2#DvB%5@Naf7%!lC1rs^+p" IvVecror="v2Qj7Cs5" MasterPassword="abc123" />

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
